# Core packages for LangChain, HuggingFace, and other frameworks
langchain
langchain_community
faiss-cpu
transformers
ollama
langchain-huggingface

# For handling images, documents, media, etc.
Pillow
pymupdf
mediapipe
sentencepiece
opencv-python-headless

# YOLO and image detection
ultralytics

# Deep learning libraries and tools
deepface
librosa
ipywidgets

# PyTorch and related libraries (CPU version)
torch
torchvision
torchaudio
